<div
    style="margin-left: 1em; max-width: 30em; border-radius: 2em; color: white; display: flex; flex-direction: row; padding: 1em; align-items: center; font-family: Roboto; background-color: #2C3E50;">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>    <img src="https://img.mysignature.io/p/8/e/a/8eadf8f7-41c5-52ff-9d5a-88980a39a202.png?time=1677882111" alt="Avatar"
        style="padding-right: 2em;">
    <div>
        <div>
            <h2 style="font-weight: 400; font-size: 160%; text-transform: uppercase; margin-block-end: 0; margin-block-start: 0">Marley Plant</h2>

        </div>


        <div class="sig-info-socialicons">
            <div style="padding-top: 0.5em;">
                <a href="mailto:marley@marleyplant.com"
                    style="display: flex; flex-direction: row; align-items: center; text-decoration: none !important;">
                    <i class="fa fa-envelope" style="padding-right: 0.5em; color: white;"></i>
                    <p style=" margin-block-end: 0; margin-block-start: 0; color: #61CE70;">marley@marleyplant.com</p>
                </a>

                <a href="https://gitlab.com/MarleyPlant"
                    style="display: flex; flex-direction: row; align-items: center; text-decoration: none !important;">
                    <i class="fab fa-gitlab" style="padding-right: 0.5em; color: white;"></i>
                    <p style="margin-block-end: 0; margin-block-start: 0; color: #61CE70;">marleyplant</p>
                </a>

                <a href="https://www.linkedin.com/in/marleyplant/"
                    style="display: flex; flex-direction: row; align-items: center; text-decoration: none !important;">
                    <i class="fab fa-linkedin" style="padding-right: 0.5em; color: white;"></i>
                    <p style="margin-block-end: 0; margin-block-start: 0; color: #61CE70;">marleyplant</p>
                </a>
            </div>

        </div>


    </div>
</div>